
<div class="card">
  <h3 class="card-header">
    <i class="bi bi-person-fill-add"></i> Agregar empleado
  </h3>
  <div class="card-body">
    <form ngNativeValidate [formGroup]="employeesForm" (ngSubmit)="handleSubmit()">

      <div class="mb-3">
        <label class="form-label">Nombre:</label>
        <input 
          class="form-control"
          required
          type="text" 
          formControlName="name"
          aria-describedby="helpId"
          placeholder="Ingresa tu nombre"
        >
      </div>

      <div class="mb-3">
        <label class="form-label">Correo electrónico:</label>
        <input 
          class="form-control"
          type="email" 
          required
          formControlName="email"
          aria-describedby="helpId"
          placeholder="Ingresa tu correo electrónico"
        >
      </div>
      
      <button type="submit" class="btn btn-success m-1">Guardar</button>
      <button type="button" routerLink="/list-employees" class="btn btn-danger m-1">Cancelar</button>

    </form>
  </div>
</div>